body{
	background-color: #292828;
  /*font-family: 'Spectral', serif;*/
  /*border: 1px solid #03C7F9;*/
}

#header-nav {
  background-color: #000000;
  border-radius: 0;
  border: 0px;
  border-bottom: 1px solid #03C7F9;
}

.footer{
  background-color: #000000;
  border-radius: 0;
  border: 0px;
  border-top: 1px solid #03C7F9;
  height: 80px;
}

.active{
  border: 3px solid #03C7F9;
  height: 60px;
}
#tile{
  color: #03C7F9;
  font-family: 'Spectral', serif;
  font-size: 1.5em;
  /* margin-left: 2px; */
  margin-top: 14px;
}
#tile p{
  font-size: 1.5em;
  margin-top: 10px;
  color: #03C7F9;
  border: 1px solid #03C7F9;
  padding: 4px;
  border-radius: 6px;
  font-family: 'Spectral', serif;
}

#tile p:hover{
  background-color: #03C7F9;
  color: #000000;
}

#logo-img {
  background: url('../Images/logo.png') no-repeat;
  width: 60px;
  height: 60px;
  margin: 10px 10px;
 }

 #text {
  /* margin-left: 50px; */
  color: #03C7F9;
  font-size: 1.5em;
  text-align: justify;
 }

 .name {
  color: #ffffff;
  font-size: 4em;
 }

.GetInTouch{
  width: 200px;
  text-align: center;
  /* margin-left: 50px; */
}

.Headings{
  /* margin-left: 50px;
  margin-right: 50px; */
  font-size: 3em;
  color: #03C7F9;
}

#image{
  align-self: center;
  filter: blur(3px);
}
#image:hover{
  filter: blur(0px);
}

/*tabs*/
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.btn {
  margin-left: 25px;
}
.tabs {
  /*display: flex;*/
  /*justify-content: space-around;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*float: left;*/
  width: 150px;
  color: #03C7F9;
  margin-left: 60px;
  position: absolute;
  border-left: 1px solid #03C7F9;
  /*background-color opacity: 50%;*/
  /*border-bottom: 1px solid black;*/
}

/* .tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #03C7F9 ;
  color: #000000;
}

.tab:hover {
  background-color: #03C7F9;
  border: 1px solid black;
  color: #000000;
}

.tab-content {
  margin-right: 20px;
  padding-left: 20px;
  border:1px solid #03C7F9;
  color: #03C7F9;
  float: right;
  width: 1033px;
  height: 120px;
  position: relative;
  border-left: none;
} */